<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title th:text="${title}">Bloggy blog blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
</head>

<!-- basic bootstrap navbar -->
<nav th:fragment="my-navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#fer" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            <a class="navbar-brand" href="/posts">Blog</a>

        <div class="collapse navbar-collapse" id="fer">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">Welcome, <span sec:authentication="name">Bob</span></a></li>
                <li class="nav-item"><a href="/posts" class="nav-link">View the Posts</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/posts/create" class="nav-link">Create post</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="nav-link btn btn-link" style="margin-top: 2px">Logout</button>
                    </form>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login" class="nav-link">Login</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/register" class="nav-link">Register</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
</nav>

<form th:fragment="postform" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input id="body" type="text" th:field="*{body}"/>
    </div>
    <div class="form-group">
        <label for="file">Image</label>
        <input type="file" class="form-control" name="file" id="file" />
    </div>
    <button class="btn btn-default">Save</button>
</form>

<!--<form th:fragment="adForm">-->
    <!--<div class="form-group">-->
        <!--<label for="title">Title</label>-->
        <!--<input id="title" class="form-control" th:field="*{title}"/>-->
        <!--<div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('title')}">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<span th:errors="*{title}" />-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="description">Description</label>-->
        <!--<input id="description" class="form-control" th:field="*{description}"/>-->
        <!--<div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('description')}">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<span th:errors="*{description}" />-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="file">Image</label>-->
        <!--<input type="file" class="form-control" name="file" id="file" />-->
    <!--</div>-->
    <!--<button class="btn btn-default">Save</button>-->
<!--</form>-->

<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</div>

</html>